extends layout

block content
  form(class="login-form" method='POST' action='/')
    input(maxlength="4" id="pass" class="input-field" type="pass" name="pass")
    button(type="submit") Unlock
        
